{% extends 'base.twig' %}

{% block title %}Create{% endblock %}

{% block body %}

  <div class="post-preview">

    <form method="post" action="/Post/createPost">
      <a href="/">
        <i class="fas fa-long-arrow-alt-left fa-2x"></i>
      </a>

      <input type="submit" class="btn btn-primary" style="float: right;" value="Create" /><br /><br />
      <input type="text" name="title" class="form-control" placeholder="Title" autocomplete="off">
      <br/>
      <textarea class="form-control" name="content" rows="30"></textarea>
      <input type="hidden" name="token" value="{{token}}">
    </form>

  </div>

{% endblock %}
