{% extends 'base.twig' %}

{% block body %}

  {% for post in posts %}
    <div class="post-preview">
      <h2 class="post-title">{{ post['title']|raw }}</h2>
      <p>{{ post['content']|raw|nl2br }}</p>
      <p class="post-meta">Posted by <a href="#">{{ post['user'] }}</a> on {{ post['date'] }}</p>
    </div>
    <hr>
  {% endfor %}

{% endblock %}
